/* ============================= */
/* Book Overview page ONLY */
/* Page ID: 462 */
/* ============================= */

.page-id-462 .blog-loop-wrapper {
	padding-top: 30px;
	padding-right: 6vw;
	padding-bottom: 50px;
	padding-left: 6vw;
}

.page-id-462 .blog-loop-columns {
	gap: 60px;
}

.page-id-462 .blog-loop-column {
	flex-basis: 50%;
}

.page-id-462 .blog-loop-title {
	font-size: 40px;
}

/* Button styling */
.page-id-462 .blog-loop-button,
.page-id-462 .wp-block-button__link {
	border-radius: 0.33rem !important;
	background-color: #532f6b !important;
	/*padding: 0.6rem 1rem !important;*/
	font-size: 14px !important;
	color: #fff !important;
	text-decoration: none !important;
}

/* Hover */
.page-id-462 .wp-block-button__link:hover {
	background-color: #0040d1 !important;
}
